.element__heart {
    padding: 0;
    margin-right: 5px;
    min-width: 22px;
    min-height: 19px;
    background: url(../../../images/Heart.svg) center/22px 19px no-repeat white;
    border: none;
}

.element__heart::after {
    content: attr(data-like);
    display: block;
    font-size: 13px;
    transform: translateY(18px);
    color: #000;
    font-family: Inter,Arial,Helvetica,sans-serif;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 930px) {
    .element__heart:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}

