.profile-info__title {
    margin: 0;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    max-width: 336px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.14;
}

@media screen and (max-width: 768px) {
    .profile-info__title {
        color: #FFF;
        font-size: 27px;
        line-height: normal;
        margin: 0 19px 14px 46px;
    }
}