.popup__button-txt {
    color: #FFF;
    margin: 14px auto;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 580px) {
    .popup__button-txt {
        font-size: 14px;
    }
}